$blue: #5551F7;
$red: #FF5C66;
$black: #1C1D28;
$grey: #E8EDF6;

@mixin buttonblue($color:#5551F7, $text:#fff) {
	padding: 10px 18px;
	background-color: $color;
	color: $text;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: 0.02em;
	font-weight: 500;
	border-radius: 0px;
	border: 1px solid $blue;
	width: 170px;
	transition:background-color 0.25s linear, color 0.25s linear;
	&:hover{
		background-color: $text;
		color: $color;
	}
	&:active{
		background-color: $text;
		color: $color;
	}
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
a {
	text-decoration: none;
}
.width-1100 {
	max-width: 1100px;
	margin: auto;
}
.width-960 {
	max-width: 960px;
	margin: auto;
}
/*ScrollSpy*/
.section1 {
	.navbar{
	  position: fixed;
	  top:50%; 
	  margin-left: -150px;
	  transform: translateY(-50%);
	  z-index: 1000;
	}

	.navbar ul{
	  list-style: none;
	  padding:0; margin: 0;
	}

	.navbar ul li{
	  width: 200px;
	  position: relative;
	  text-align: right;
	}

	.navbar ul li .dot{
	  color:#fff;
	  display: block;
	  padding:15px 15px;
	}
	.navbar ul li .dot::before,
	.navbar ul li .dot::after{
	  content: '';
	  position: absolute;
	  top:50%;
	  border-radius: 50%;
	  display: block;
	  transition: .2s ease-out;
	}

	.navbar ul li .dot::before{
	  height:5px;
	  width: 5px;
	  border: 2px solid #333;
	  right:0;
	  transform: translateY(-50%);
	}

	.navbar ul li .dot.active::before,
	.navbar ul li:hover .dot::before{
	  border-color: #f44336;
	  background: #f44336;
	}

	.navbar ul li .dot::after{
	  height:15px;
	  width: 15px;
	  border: 2px solid #f44336;
	  right:-5px;
	  transform: translateY(-50%) scale(0);
	}

	.navbar ul li .dot.active::after,
	.navbar ul li:hover .dot::after{
	  transform: translateY(-50%) scale(1);
	}
}
.sec { height: auto;}
button.blue {
	@include buttonblue($color:#5551F7, $text:#fff);
}
button.blue:hover {
	background-color: #fff;
	color: $blue;	
}
/*1st-screen*/
.first-screen {
	nav {
		padding-top: 40px;
		align-items: center;
		.navbar-brand {
			margin-right: 50/1100*100%;
		}
		a.nav-link {
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.02em;
			color: $black;
			border-bottom: 1px solid #fff;
			transition: color .15s ease-in-out, border-color .15s ease-in-out;
		}
		a.nav-link:hover {
			color: $red;
			border-bottom: 1px solid $red;
		}
		span {
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.02em;
			color: $black;
			font-weight: bold;
		}
	}
	.width-960 {
		margin-top: 30px;
		.col-md-6 {
			p {
				margin-top: 100px;
				font-size: 13px;
				line-height: 19px;
				letter-spacing: 0.05em;
				color: $black;
				margin-bottom: 13px;
			}
			h3 {
				font-size: 30px;
				line-height: 44px;
				letter-spacing: 0.02em;
				color: $black;
				margin-bottom: 41px;
				max-width: 260px;
			}
			button.blue {
				@include buttonblue($color:#fff, $text:#5551F7);
				border-color: $blue;
				padding: 12px;
			}
			button.blue:hover {
				background-color: $blue;
				color: #fff;
			}
		}/*End col-md-6*/
		.bg {
			height: 440px;
			background:transparent url('../img/Header 3d-04 1.png') right no-repeat;
			background-size: 90%;
			p {
				font-size: 30px;
				line-height: 44px;
				letter-spacing: 0.02em;
				color: $black;
				margin-bottom: 2px;
				margin-left: -50px;
			}
			h2 {
				font-size: 45px;
				line-height: 65px;
				letter-spacing: 0.02em;
				color: $black;
				margin-left:-50px;
				font-weight: bold;
			}
		}
	}/*End width-960*/
}
/*End 1st-screen*/

/*2nd-screen*/
.second-screen {
	color: $black;
	padding: 150px 0px;
	p:nth-child(1) {
		font-size: 15px;
		font-weight: 300;
		line-height: 145%;
		letter-spacing: 0.05em;
		margin-bottom: 15px;
	}
	p:nth-child(2) {
		font-size: 30px;
		font-weight: bold;
		line-height: 145%;
		letter-spacing: 0.02em;
		margin-bottom: 40px;
		max-width: 800px;
	}
	p:nth-child(3) {
		max-width: 800px;
		font-size: 15px;
		line-height: 185%;
		letter-spacing: 0.02em;
	}
}
/*End 2nd-screen*/

/*3rd-screen*/
.third-screen {
	color: $black;
	padding-bottom: 150px;
	h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		margin-bottom: 29px;
		margin-left: 3%;
	}
	.nav {
		margin-left: 3%;
		.nav-item {
			margin-right: 3%;
		}
		button.nav-link {
			margin-bottom: 35px;
			font-size: 15px;
			line-height: 145%;
			letter-spacing: 0.02em;
			border: none;
			border-bottom: 1px solid #fff;
			color: $black;
			padding-right: 10px;
			span {
				padding: 0px;
				color: rgba(28, 29, 40, 0.5);
				background-color: #fff;
				font-size: 10px;
				line-height: 145%;
				letter-spacing: 0.02em;
			}
		}
		button.red {
			color: $red;
			font-weight: bold;
		}
		button.nav-link:active {
			border-color: $red;
			color: $red;
		}
		.nav-link.active {
			border-color: $red;
			color: $red;
		}	
	}/*End .nav*/
	.tab-pane {
		img {
			height: 100%;
			width: 100%;
			object-fit:cover;
		}
		.col-md-12, .col-md-5, .col-md-7, .col-md-6, .col-md-4 {
			padding: 10px;
		}
	}
	a.btn {
		margin-top: 70px;
		color: #fff;
		background-color: $blue;
		border: 1px solid $blue;
		width: 20%;
		margin-left: (100%-20%)/2;
		font-weight: 500;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.02em;
		padding: 13px;
		border-radius: 0px;
	}
	a.btn:hover {
		background-color: #fff;
		color: $blue;
	}
}
/*End 3rd-screen*/

/*4th-screen*/
.fourth-screen {
	padding-bottom: 100px;
	h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		color: $black;
		margin-bottom: 25px;
	}
	p {
		font-size: 15px;
		line-height: 185%;
		letter-spacing: 0.02em;
		color: $black;
		margin-bottom: 70px;
		max-width: 570px;
	}
	.d-flex {
		align-items:center;
		color: $grey;
		font-weight: bold;
		font-size: 45px;
		line-height: 145%;
		letter-spacing: 0.02em;
		margin-bottom: 15px;
		transition: color 0.15s ease-in-out;
		div:nth-child(1){
			font-weight: 600;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.02em;
		}
		hr {
			opacity: 1;
			width:60px;
		}
		.visib {
			transition: opacity 0.5s ease-in-out;
			opacity: 0;
			color: $red;
			a {
				font-size: 15px;
				color: $red;
				line-height: 185%;
				letter-spacing: 0.02em;
			}
		}
	}
	.d-flex:hover {
		color: $red;
		.visib { opacity: 1;}
	}
}
/*End 4th-screen*/

/*5th-screen*/
.fifth-screen {
	text-align: center;
	padding-bottom: 100px;
	h2 {
		color:$black;
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		font-weight: 500;
		margin-bottom: 25px;
	}
	p {
		color: $black;
		font-size: 15px;
		line-height: 185%;
		letter-spacing: 0.02em;
		margin-bottom: 60px;
	}
	img {
		width: 90%;
		object-fit: cover;
	}
}
/*End 5th-screen*/

/*6th-screen*/
.sixth-screen {
	background-color: $blue;
	color: #fff;
	padding-top: 100px;
	h4 {
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		font-weight: 500;
		text-align: center;
		margin-bottom: 25px;
	}
	p {
		font-size: 15px;
		line-height: 185%;
		letter-spacing: 0.02em;
		text-align: center;
		margin-bottom: 16px;
	}
	img {
		margin-left: -80px;
		width: 100%;
		object-fit:cover;
	}
	form {
		label {
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 0px;
		}
		input {
			background-color: $blue;
			border:none;
			border-bottom: 1px solid #fff;
			padding-left: 0px;
			padding-bottom: 12px;
			border-radius: 0px;
		}
		input::placeholder {
			font-size: 12px;
			line-height: 185%;
			opacity: 0.3;
			color:#fff;
		}
		input:focus {
			box-shadow: none;
			background-color: $blue;
			color: #fff;
		}
		button.blue {
			font-weight: 500;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 0.02em;
			background-color: $red;
			padding: 13px;
			width:30%;
			border-color: $red;
		}
		button.blue:hover {
			background-color: #fff;
			color: $red;
		}
		.form-check {
			margin-left: 40px;
			label {
				opacity: 0.8;
				font-size: 10px;
				line-height: 145%;
			}
			input {
				background-color: $blue;
				border:1px solid #fff;
				border-radius: 0px;
			}
		}
	}/*End form*/
	.modal-dialog {
		color: $black;
		max-width: 980px;
		letter-spacing: 0.02em;
		.modal-header, .modal-footer {
			border: none;
		}
		.modal-body {
			.col-md-6 {
				img {
					width: 100%;
					margin-left: 0px;
				}
				span {
					width: 150px;
					font-weight: 500;
					font-size: 30px;
					line-height: 145%;
				}
				p {
					font-size: 15px;
					line-height: 185%;
					margin-top: 20px;
					margin-bottom: 50px;
					text-align: left;
				}
				button {
					@include buttonblue;
				}
			}
		}/*modal-body*/
	}/*modal-dialog*/
}
/*End 6th-screen*/

/*Footer*/
.footer {
	padding:70px 0px;
	color:#fff;
	background-color: $black;
	img.logo {
		width: 65px;
		margin-bottom: 20px;
	}
	.col-md-4 {
		h3 {
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 145%;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		a {
			display: block;
			transition: color 0.15s ease-in-out;
			font-size: 12px;
			letter-spacing: 185%;
			letter-spacing: 0.02em;
			margin-bottom: 13px;
			color: #fff;
			i {
				font-size: 25px;
			}
		}
		a:hover {
			color: $red;
			text-shadow: 1px 1px 20px $grey;
		}
		p {
			font-size: 12px;
			letter-spacing: 185%;
			letter-spacing: 0.02em;
			margin-bottom: 13px;
			color: #fff;
		}
	}
}

/******Project page******/
.content1 {
	color:$black;
	padding-top: 60px;
	padding-bottom: 100px;
	.width-960 {
		margin-bottom: 90px;
		h3 {
			font-weight: bold;
			font-size: 30px;
			line-height: 145%;
			letter-spacing: 0.02em;
			margin-bottom: 50px;
			max-width: 660px;
		}
		.col-md-10 {
			p {
			font-size: 15px;
			line-height: 185%;
			letter-spacing: 0.02em;
			margin-bottom: 60px;
			max-width: 570px;
			}
			a {
				letter-spacing: 0.02em;
				color: $red;
				font-weight: bold;
				font-size: 15px;
				&:hover {
					color:$blue;
				}
			}
		}
		.col-md-2 {
			p {
				font-size: 15px;
				line-height: 145%;
				letter-spacing: 0.02em;
				margin-bottom: 5px;
			}
			p.bold {
				font-weight: bold;
				margin-bottom: 40px;
			}
		}
	}/*End width-960*/
	.width-1100 img {
		width:100%;
		max-height: 600px;
		object-fit:cover;
	}
}
/*End content1*/

/*Content2*/
.content2, .content4 {
	padding-top: 70px;
	color: $black;
	background: #FAFAFA;
	height: 700px;
	margin-bottom:550px; 
	h3 {
		font-weight: 500;
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		margin-bottom: 40px;
	}
	p {
		font-size: 15px;
		line-height: 185%;
		letter-spacing: 0.02em;
		margin-bottom: 70px;
		max-width: 630px;
	}
	img {
		width: 100%;
		height: 880px;
		object-fit:cover;
	}
}
.content4 {
	background: #fff;
	height: auto;
	margin-bottom:70px;
	img {
		width: 100%;
		height: 600px;
		object-fit:cover;
	}
}
/*****End project page****/

/*****Service page****/
.service {
	padding-bottom: 50px;
	padding-top: 50px;
	color: $black;
	.col-md-4  {
		padding: 15px;
		> div {
			transition: border-color 0.25s ease-in-out;
			border: 2px solid #e4e4e4;
			position: relative;
			padding: 36px 46px;
			&:hover {
				border: 2px solid $red;
				a {color:$red;}
				img {opacity: 1}
			} 
		}
		h4 {
			font-size: 30px;
			line-height: 145%;
			letter-spacing: 0.02em;
			margin-bottom: 20px;
			font-weight: 500;
		}
		p {
			font-size: 15px;
			line-height: 185%;
			letter-spacing: 0.02em;
			margin-bottom: 78px;
		}
		a {
			color: $black;
			transition: color 0.25s ease-in-out;
			font-size: 15px;
			line-height: 145%;
			letter-spacing: 0.02em;
			font-weight: bold;
			&:hover {
				color:$red;
			}
		}
		img {
			transition: opacity 0.25s ease-in-out;
			opacity: 0;
			width: 70%;
			position: absolute;
			z-index: 10;
			bottom: 0;
			right: 0;
			margin-bottom: -50px;
			margin-right: -50px;
		}
		img.img {
			margin-bottom: -40px;
		}
		img.img1 {
			margin-bottom: -40px;
		}
		img.img2 {
			width: 40%;
			margin-right: 0px;
			margin-bottom: 0px;
		}
	}/*End col-md-4*/
}
/****End page service****/

/****Brief page****/
.brief {
	text-align: center;
	color:$black;
	.width-520 {
		max-width: 520px;
		margin: auto;
	}
	h3 {
		font-weight: bold;
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		margin-top: 150px;
		margin-bottom: 50px;
	}
	button.blue {
		@include buttonblue ($color:#fff, $text:$blue);
		margin-bottom: 150px;
	}
	form {
		text-align: left;
		h4 {
			font-weight: 500;
			font-size: 30px;
			line-height: 145%;
			letter-spacing: 0.02em;
			margin-bottom: 50px;
		}
		.row {
			label {
				font-weight: 500;
				font-size: 15px;
				line-height: 18px;
				margin-bottom: 3px;	
			}
			input {
				padding-left: 0px;
				border-radius: 0px;
				border: none;
				border-bottom: 1px solid #a7a7a7;
				margin-bottom: 15px;
				&:focus {
					box-shadow: none;
					border: none;
					border-bottom: 1px solid $blue;
				}
			}
			::placeholder {
				font-size: 12px;
				line-height: 15px;
				color: rgba(151, 151, 151, 0.5);
			}		
		}
		button.blue {
			@include buttonblue;
			margin-top: 30px;
			margin-bottom: 150px;
		}
		.form-check {
			margin-bottom: 20px;
			label {
				font-weight: normal;
				font-size: 15px;
				line-height: 185%;
				letter-spacing: 0.02em;
			}
			input[type=checkbox] {
				border: 1px solid #afafaf;
				&:checked {
					border-radius: 0px;
					background-color: $blue;
				}
			}
		}
		select {
			font-size: 15px;
			line-height: 185%;
			letter-spacing: 0.02em;
			border-radius: 0px;
			border: none;
			border-bottom: 1px solid #a7a7a7;
			padding-left: 0px;
			padding-right: 0px;
			margin-bottom: 30px;
			&:focus {
				box-shadow: none;
			}
		}
		#upload-container {
			margin-bottom: 20px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    flex-direction: column;
		    width: 100%;
	   		height: 200px;
	    	outline: 2px dashed #A7A7A7;
		    outline-offset: -12px;
		    color: #A7A7A7;
		    &.dragover {
		    	background-color: #fafafa;
     			outline-offset: -17px;
		    }
		    img {
		     	width: 50px;
			    margin-bottom: 20px;
			    user-select: none;
		    }
		    label {
		    	font-weight: bold;
		    	&:hover {
		    		cursor: pointer;
		    		text-decoration: underline;
		    	}
		    }
		    div {
		    	position: relative;
		    	z-index: 10;
		    }
		    input[type=file] {
		    	width:0.1px;
		    	height: 0.1px;
		    	opacity: 0;
		    	position: absolute;
		    	z-index: -10;
		    	&:focus + label {
		    		outline: 1px solid #0078d7;
		    		outline: -webkit-focus-ring-color auto 5px;
		    	}
		    }
		}/*End upload-container*/
	}/*End form*/
}
/****End brief-page*****/

/****Process page****/
.process {
	margin-bottom: 50px;
	color: $black;
	h2 {
		font-weight: 500;
		font-size: 30px;
		line-height: 145%;
		letter-spacing: 0.02em;
		margin-bottom: 50px;
	}
	.content1 {
		&::-webkit-scrollbar {
			height:39px;
		}
		&::-webkit-scrollbar-track {
			margin-left: 30px;
			margin-right: 30px;
			border-top: 19px solid #fff;
			border-bottom: 19px solid #fff;	
			background-color:#E4E4E4;
		}
		&::-webkit-scrollbar-thumb {
			border-top: 19px solid #fff;
			border-bottom: 19px solid #fff;
			background-color:#1C1D28;
		}
		&::-webkit-scrollbar-button:single-button:horizontal:decrement {
			width: 38px;
			height: 38px;
			margin-right: 50px;
			background: url('../img/left.png') no-repeat center;
			background-size: 38px;
		}&::-webkit-scrollbar-button:single-button:horizontal:increment {
			width: 38px;
			height: 38px;
			background: url('../img/right.png') no-repeat center;
			background-size: 38px;
		}
		display: flex;
		overflow-x:scroll;
		.width-200 {
			background:transparent url('../img/llipse25.png') center no-repeat;
			background-size: 113px;
			margin-left: 55px;
			p:nth-child(1) {
				color: transparent;
				font-weight: 900;
				font-size: 70px;
				line-height: 145%;
				letter-spacing: 0.02em;
				margin-bottom: 0px;
				-webkit-text-stroke: 1px #5551F7;
			}
			p:nth-child(2) {
				width:210px;
				font-size: 15px;
				line-height: 185%;
				letter-spacing: 0.02em;
				margin-top: 0px;
			}
		}
		.proc1 p:nth-child(2) {margin-bottom: 80px}
		.proc2 p:nth-child(1) {margin-top: 50px}
		.proc3 p:nth-child(2) {margin-bottom: 90px}
		.proc4 p:nth-child(1) {margin-top: 40px}
		.proc5 p:nth-child(2) {margin-bottom: 80px}
		.proc6 p:nth-child(1) {margin-top: 50px}
	}/*End content*/
}
.content {
	letter-spacing: 0.02em;
	color:$black;
	h3 {
		font-size: 30px;
		font-weight: 500;
		line-height: 145%;
		margin-bottom: 66px;
		margin-top: 100px;
	}
	.col-md-12, .col-md-5, .col-md-7 {
		padding: 12px;
		img {
			width:100%;
			height: 100%;
			object-fit:cover;
		}
	}
	a.blue {
		margin:auto;
		margin-top:80px;
		text-align: center;
		@include buttonblue;
		padding: 13px;
	}
	.col-md-4, .col-md-8 {
		position: relative;
		text-align: center;
		margin-bottom: 20px;
		padding: 32px;
		border: 1px solid #e4e4e4;
		transition: border 0.25s linear;
		&:hover, &:active {
			border: 2px solid $blue;
			img {opacity: 1}
		}
		img {
			transition: opacity .25s linear;
			opacity: 0;
			position: absolute;
			right: 0;
			margin-right: 30px;
			top:0;
			width: 17px;
		}
		h5 {
			font-size: 15px;
			font-weight: bold;
			line-height: 145%;
			margin-bottom: 40px;
			margin-top: 20px;
		}
		p {
			font-size: 30px;
			font-weight: bold;
			line-height: 145%;
			margin-bottom: 40px;
		}
		button {
			margin-bottom: 40px;
			@include buttonblue ($color:#fff, $text:$blue);
		}
		hr {
			color: #e4e4e4;
			opacity: 1;
			margin-bottom: 40px;
		}
		ul {
			font-size: 15px;
			line-height: 185%;
			text-align: left;
			list-style-image:url('../img/vector.png');
			li {
				margin-bottom: 10px;
			}
		}
	}/*end col-md-4*/
	.col-md-8 {
		h6 {
			font-weight: bold;
			font-size: 30px;
			line-height: 145%;
			margin-bottom: 20px;
		}
		p {
			font-weight: normal;
			font-size: 15px;
			line-height: 185%;
			max-width: 300px;
			margin: auto;
			margin-bottom: 50px;
		}
	}
	.col-md-4.bord {
		border-left:none;
		border-right:none;
		&:hover, &:active {
			border: 2px solid $blue;
		}
	}
	.col-md-3 {
		margin-bottom: 150px;
		padding-left: 20px;
		img {
			height: 50px;
			width:45px;
		}
		p {
			margin-top: 20px;
			font-size: 15px;
			line-height: 185%;
			max-width: 220px;
		}
	}
}
.style {
	background-color: $blue;
	color: #fff;
	padding:70px 0px;
	letter-spacing: 0.02em;
	margin-bottom: 70px;
	h3{
		font-weight: 500;
		font-size: 30px;
		line-height: 145%;
		margin-bottom: 40px;
	}
	p {
		font-size: 15px;
		line-height: 185%;
		margin-bottom: 49px;
	}
	ul {
		list-style-image: url('../img/vector35wh.svg');
		li {
			font-size: 15px;
			line-height: 185%;
			margin-bottom: 24px;
		}
	}
}
/*****End process page*****/
/*****About page****/
section.screen {
	padding-top: 70px;
	position: relative;
	p {
		position: relative;
		z-index: -1;
		font-weight: 900;
		font-size: 17vw;
		line-height: 95%;
		text-transform: uppercase;
		color: #f3f3f3;
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 20%;
	}
	img {
		position: absolute;
		bottom:0;
		right: 0;
		margin-right: 10%;
		width: 30%;
	}
	.width-1100 {
		position: relative;
	}
}
.about {
	.row {
		margin-bottom: 100px;
	}
	margin-top: 100px;
	color: $black;
	letter-spacing: 0.02em;
	.col-md-4 {
		padding-left: 50px;
		font-weight: 500;
		font-size: 30px;
		line-height: 145%;
	}
	.col-md-8 {
		p {
			font-size: 15px;
			line-height: 185%;
		}
	}
	.col-md-3 {
		p.small {
			color: $red;
			font-size: 15px;
			line-height: 145%;
			margin-bottom: 10px;
		}
		h6 {
			font-weight: bold;
			font-size: 30px;
			line-height: 145%;
			margin-bottom: 30px;
		}
		p {
			font-size: 15px;
			line-height: 185%;
			max-width: 230px;
		}
	}
	.align {
		align-items:flex-end;
		.col-sm-1 {
			p {
				font-weight: 500;
				font-size: 30px;
				line-height: 145%;
				margin-bottom: 0px;
				width: 180px;
			}
			p.mb-5, p.small {
				width: 180px;
				font-weight: normal;
				font-size: 15px;
				line-height: 185%;
			}
		}
		.col-sm-11 {
			img {
				width: 100%;
			}
		}
	}
}
/****End About page****/

/****Contact page*****/
.contact {
	color: $black;
	letter-spacing: 0.02em;
	.width-1100 {
		position: relative;
	}
	span {
		position: absolute;
		color: #f3f3f3;
		text-transform: uppercase;
		font-weight: 900;
		font-size: 17vw;
		line-height: 145%;
		top:0;
		left: 5%;
		z-index: -1;
	}
	.row {
		align-items: flex-end;
		.col-sm-6 {
			padding-top: 100px;
			div {
				padding-bottom: 40px;
			}
			img {
				margin-left: 20%;
				width:80%;
			}
			p {
				font-weight: normal;
				font-size: 15px;
				line-height: 185%;
				margin-bottom: 5px;
			}
			a {
				color: $red;
				transition: color 0.15s linear;
				font-size: 25px;
				&:hover, &:active {
					color:$blue;
				}
			}
			a.color {
				color: $black;
				font-size: 20px;
				line-height: 145%;
				font-weight: bold;
				&:hover, &:active {
					color:$blue;
				}
			}

		}/*end col-sm-6*/

	}
}

/****End contact page****/

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
	.contact span {
		left:20%;
	}
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	.first-screen .nav .nav-link {
		padding: 0.5rem 0.5rem;
	}
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
	.first-screen {
		nav.hidden {
			display: none;
		}
		.d-flex {
			i {
				font-size: 30px;
				color: $black;
			}
			i:active {
				text-shadow:1px 1px 3px $grey;
			}
			button {
				padding: 0px;
			}
			button:focus {
				box-shadow: none;
			}
			button:active {
				box-shadow: none;
			}
		}
		.offcanvas-top {
			background-color: $blue;
			height: 100%;
			.offcanvas-header {
				padding-bottom: 0px;
				button.btn-close {
					background-image: url('../img/close.png');
					opacity: 1;
				}
			}
			.offcanvas-body a {
				margin-bottom: 20px;
				color: #fff;
				font-size: 15px;
				line-height: 18px;
				font-weight: 500;
				letter-spacing: 0.02em;
				border-bottom: 1px solid $blue;
			}
			.offcanvas-body a:hover {
				color: #fff;
				text-shadow: 1px 1px 10px $red;
				
			}
			.offcanvas-body a:active {
				color: #fff;
				text-shadow: 1px 1px 10px $red;
				
			}
			button.btn {
				width: 100%;
				position: absolute;
				bottom: 0;
				left:0;
				background-color: $red;
				border-color: $red;
				padding: 20px;
				font-size: 15px;
				font-weight: 500;
				border-color: $red;
			}
			button.btn:hover {
				color: $red;
				background-color: #fff;
			}
			button.btn:active {
				color: $red;
				background-color: #fff;
			}
		}
	}/*end f-screen*/
	/*6th-screen*/
	.sixth-screen {
		form {
			button.blue {
				width:100%;
				margin-bottom: 10px;
			}
			.form-check {
				margin-left: 0px;
				margin-bottom: 15px;
			}
		}
	}/*end 6-screen*/
	/*page process*/
	.content .col-md-4.bord {
		border-left :1px solid #e4e4e4;
		border-right :1px solid #e4e4e4;
	}
	.contact .row .col-sm-6 {
		padding-top: 70px;
		div {
			padding-bottom: 20px;
		}
		p {
			font-size: 13px;
		}
		a {
			font-size: 20px;
		}
		a.color {
			font-size: 15px;
		}
	}/*end col-sm-6*/
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.fourth-screen .visib {
		display:none;
	}
	.service .col-md-4 img {
		width:50%;
	}
	.contact .row .col-sm-6 {
		padding-top: 50px;
		div {
			padding-bottom: 20px;
		}
		p {
			font-size: 15px;
		}
		a {
			font-size: 25px;
		}
		a.color {
			font-size: 20px;
		}
		img {
			margin-left:0%;
			width:100%;
		}
	}/*end col-sm-6*/
}